.content {
  margin: 60px auto;
  @media (max-width: 768px) {
    margin: 20px auto;
  }

  img {
    cursor: pointer;
  }


  .col-text {
    h1 {
      font-size: 4rem;
      font-weight: 700;
      width: 100%;
      text-transform: uppercase;
      line-height: 4rem;
      margin: 20px 0;
      @media (max-width: 768px) {
        font-size: 2rem;
        line-height: 2rem;
      }
    }
  }

  .col-text-broken,
  .col-image-broken {
    margin: 30px 0;
  }

  .col-image {
    img {
      width: 100%;
      object-fit: cover;
      height: 400px;
    }
  }

  .col-image-small {
    margin: 30px 0;
    img {
      width: 100%;
      object-fit: cover;
      height: 300px;
    }
  }

  .col-image-large {
    margin: 30px 0;
    img {
      width: 100%;
      object-fit: cover;
      height: 700px;
    }
  }

  .col-image-half {
    margin: 30px 0;
    img {
      width: 100%;
      object-fit: cover;
      height: 500px;
    }
  }

  // Gallery with link
  .col-image-with-link {
    margin-bottom: 20px;
    a {
      display: block;
    }
  }
}

// Wrapper for instructions
.instructions {
  padding: 30px 0;
  background-color: lighten(#313e50, 0);
  color: white;
  .instruction {
    border-left: 3px solid var(--light-color);
    padding-left: 15px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    input {
      width: auto;
      margin: 10px 0;
      border: 2px solid var(--light-color);
      padding: 5px;
    }

    a {
      color: var(--light-color);
      margin: 15px 0;
      font-weight: bold;
      display: block;
      text-decoration: underline;
      &:hover {
        color: darken(#F4F4F4, 30%);
      }
    }
  }
}

// Slick demo
#container-with-slick {
  .slick-prev, .slick-next {
    &:before {
      color: var(--dark-color);
    }
  }
}
