@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

// Define a container
.container {
  max-width: 1240px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // Define a section inside of the container
  .section {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
