#header {
  padding: 20px 0;
  .SRL_Logo {
      text-align: center;
      margin: 30px 0;
    img {
      width: 180px;
      height: auto;
      @media (max-width: 768px) {
        width: 150px;
        height: auto;
      }
    }
  }
  nav {
    margin: 30px 0;
    display: block;
    text-align: center;
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      margin-bottom: 15px;
      @media (max-width: 768px) {
        margin: 20px auto;
        flex-direction: column;
      }
      li {
        margin-left: 20px;
        position: relative;
        @media (max-width: 768px) {
          margin: 0 auto;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -10px;
          height: 100%;
          width: 1px;
          background-color: lighten(#313e50, 60%);
          @media (max-width: 768px) {
            content: none;
          }
        }
        &:last-child {
          @media (max-width: 768px) {
            margin: 0 auto;
          }
          &:after {
            content: none;
          }
        }
        a {
          color: var(--dark-color);
          letter-spacing: 1px;
          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 700;
          transition: color 0.6s ease;
          &:hover {
            color: lighten(#313e50, 30%);
            text-decoration: none;
          }
        }
      }
    }
  }


}
