#header {
  padding: 20px 0;
  .SRL_Logo {
    @media (max-width: 768px) {
      text-align: center;
    }
    img {
      width: 125px;
      height: auto;
      @media (max-width: 768px) {
        width: 100px;
        height: auto;
      }
    }
  }
  nav {
    margin-left: auto;
    display: block;
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      @media (max-width: 768px) {
        margin: 20px auto;
      }
      li {
        margin-left: auto;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          margin: 0 auto;
        }
        &:last-child {
          margin-left: 20px;
          @media (max-width: 768px) {
            margin: 0 auto;
          }
        }
        a {
          color: #313e50;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }

  .SRL_CTA {
    margin-bottom: 10px;
    .SRL_CTA-OpenLightbox {
      display: block;
      margin-left: auto;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      color: white;
      background-color: #313e50;
      padding: 10px 15px;
      text-transform: uppercase;
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      @media (max-width: 768px) {
        font-size: 0.875rem;
        padding: 7.5px;
      }
      &:hover {
        background-color: lighten(#313e50, 10%);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }
}
